/* Tablet */
@media (max-width: 900px){

.hero{
padding-left:60px;
height:380px;
}

.hero-content h1{
font-size:36px;
}

}

/* Phone */
@media (max-width: 600px){

.hero{
padding-left:30px;
height:320px;
}

.hero-content h1{
font-size:28px;
}
}


.home{
background:#e6c3a3;
padding-bottom:40px;
}

.hero{
  height:450px;
  background:url("/assets/mountain.png");
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  padding-left:120px;
}

.hero-content h1{
  color:white;
  font-size:50px;
  margin-bottom:20px;
}

.explore-btn{
  background:#ff7a00;
  color:white;
  border:none;
  padding:12px 25px;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}

.section{
padding:30px 100px;
}

@media (max-width: 900px){
.section{padding:30px 40px;}}

@media (max-width: 600px){
.section{padding:20px;}}


.section h2{
  margin-bottom:15px;
  font-weight:500;
}

.card{
  height:150px;
  border-radius:15px;
  background-image:url("/assets/watchtower.png");
  background-size:cover;
  background-position:center;
}
@media (max-width:600px){
.card{height:110px;}}

.zone-card{
  height:200px;
  border-radius:20px;
  background-image:url("/assets/mountain2.png");
  background-size:cover;
  background-position:center;
}