.auth-page{
  min-height:100vh;
  background:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("../assets/images/login.jpeg");

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
}

.auth-box{
  background:#190A00;
  padding:60px;
  border-radius:25px;
  width:400px;
  display:flex;
  flex-direction:column;
  gap:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.auth-box h1{
  color:#ff7a00;
  text-align:center;
}

.auth-box input{
  padding:15px;
  border-radius:12px;
  border:none;
  background:#e7c1a1;
}

.auth-box p{
  color:white;
  text-align:center;
}

.auth-box a{
  color:#ff7a00;
}