* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.navbar{
  height: 70px;
  padding: 0 40px;
  background-color: #190A00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-left{
  display:flex;
  align-items:center;
  gap:15px;
  text-decoration: none;
  color: inherit;
}

.logo-icon{
  height:30px;
}

.logo-text{
  color:#ff7a00;
  font-size:24px;
  font-weight:700;
  text-decoration: none;
}

.logo-link{
  text-decoration:none;
  color:inherit;
}

.navbar-right{
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar-right a{
  text-decoration: none;
  color: #ff7a00;
  font-weight: 300;
  font-size: 15px;
  font-family: Milker;
}

.navbar-right a:hover{
  border-bottom: 2px solid #ff7a00;
  font-weight: 600;
}

.navbar-right span{
  margin-top: 5px;
}

.navbar-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-icon img{
  height: 30px;
  cursor: pointer;
}

